<div class="modal-body" id="modal-body">
  <div class="modal-header">
    <button type="button" class="close" ng-click="$close()">&times;</button>
    <h4 class="modal-title">Nuevo Control</h4>
  </div>
  <div class="modal-body">
    <div class="form__row">
      <div class="form__label " translate>Path<span class="required">*</span></div>
      <input type="text" name="country" id="autocomplete-custom-append_3" class="form-control col-md-10"
        ng-model="newCtl.key" autocomplete="off">
    </div>
    <div class="form__row last">
      <div class="form__label " translate>Cantidad</div>
      <input type="number" name="country" id="autocomplete-custom-append_3" class="form-control col-md-10"
        ng-model="newCtl.value" autocomplete="off">
    </div>
    <label class="switchsm"> 
        <input type="checkbox" ng-model="newCtl.enable" class="ng-pristine ng-untouched ng-valid"> <span class="slidersm round"></span> </label>
    <div class="form__row last" ng-if="newCtl.enable">
        <div class="form__label " translate>TTL</div>
        <input type="number" name="country" id="autocomplete-custom-append_3" class="form-control col-md-10"
          ng-model="newCtl.ttl" autocomplete="off">
      </div>
  </br></br></br>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="$close()" translate>Cancelar</button>
    <button type="button" class="btn btn-primary" ng-click="$close();createNewControl()" translate>Guardar</button>
  </div>
</div>