<div class="aside aside--secondary" tabindex="-1" role="dialog">
  <div class="aside-dialog">
    <div class="aside-content">
      <div class="aside-header">
        <div class="aside-close" ng-click="$hide()">&#xe2aa;</div>
        <h4 class="aside-title">Categories</h4>
      </div>
      <div class="aside-body">
        <div class="secondary-aside-body" ng-form name="form">
              
          
               <div class="scheduling-field">
            <div class="scheduling-field__label" >id</div>
            <div class="scheduling-field__value">
              <input type="text" class="input-field single-field" ng-model="newcategory.id" disabled/>
            </div>
          </div>
               <div class="scheduling-field">
            <div class="scheduling-field__label" >id_parent</div>
            <div class="scheduling-field__value">
              <input type="text" class="input-field single-field" ng-model="newcategory.parent_id" disabled/>
            </div>
          </div>

          <div class="scheduling-field">
            <div class="scheduling-field__label">icon</div>
            <div class="scheduling-field__value">
              <input type="text" class="input-field single-field" ng-model="newcategory.icon" />
            </div>
          </div>

          <div class="scheduling-field">
            <div class="scheduling-field__label">Name</div>
            <div class="scheduling-field__value">
              <input type="text" class="input-field single-field" ng-model="newcategory.name" required/>
            </div>
          </div>

          
          
          <div class="aside-footer">
            <button class="secondary-bglight-button" ng-click="$hide()">Cancel</button>
            <button class="primary-bglight-button" ng-click="yes()" ng-disabled="form.$invalid">Save</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
