<div class="row ">
  <div class="col-md-12">
    <div class="form-group">
      <!-- <label for="middle-name" class="control-label col-md-1 col-sm-1 col-xs-3">desde <span class="required">*</span></label> -->
      <div class="col-md-offset-5 col-md-2 col-sm-2 col-xs-4">
        <select ng-model="reportSelected"  class="form-control col-md-2 col-sm-2 col-xs-6">
          <option ng-repeat="report in reportfront" value="{{report.id}}">{{report.name}}</option>
       
        </select>
      </div>
      <div class=" col-md-2 col-sm-2 col-xs-4">
        <input datetime-picker class="form-control col-md-2 col-sm-2 col-xs-6" ng-model="from" date-format="yyyy-MM-dd HH:mm"
          placeholder="fecha desde" />
      </div>
      <!-- <label for="middle-name" class="control-label col-md-1 col-sm-1 col-xs-3">hasta<span class="required">*</span></label> -->
      <div class="col-md-2 col-sm-2 col-xs-4">
        <input datetime-picker class="form-control col-md-2 col-sm-2 col-xs-6" ng-model="to" date-format="yyyy-MM-dd HH:mm"
          placeholder="fecha hasta" />
      </div>
      <div class="col-md-1 col-sm-2 col-xs-4">
        <button class="btn btn-success" ng-click="getstats()">Actualizar</button>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <!--   <div class="col-md-8 col-sm-8 col-xs-12 " ng-repeat="report in reports" style="margin-top: 2vh">
    <div class="x_panel ng-scope">
      <div class="x_title">
        <h2>{{report.title}} <small> </small></h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <br>
        <div class="js-intro-helper">
          <canvas class="chart-base" chart-type="report.type" chart-colors="report.color" chart-data="report.data" chart-labels="report.labels" chart-series="report.series" chart-options="chartoptions" style="height: 30vw;"></canvas>
        </div>
      </div>
    </div>
  </div>
 -->
  <div class="col-md-12 col-sm-12 col-xs-12 " style="margin-top: 2vh">
    <div class="panel">
      <div google-chart chart="report.chart" style="height:60vh; width:100%;"></div>
    </div>
  </div>



</div>
<div class="row">
  <div class="col-md-6 col-sm-6 col-xs-6 " style="margin-top: 2vh">
    <div google-chart chart="reportes6.googlechart" style="height:45vh; width:100%;"></div>
  </div>
  <div class="col-md-6 col-sm-6 col-xs-6 " style="margin-top: 2vh">
    <div google-chart chart="reportes3.googlechart" style="height:45vh; width:100%;"></div>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-sm-6 col-xs-6 " style="margin-top: 2vh">
    <div google-chart chart="reportes5.googlechart" style="height:45vh; width:100%;"></div>
  </div>
  <div class="col-md-6 col-sm-6 col-xs-6 " style="margin-top: 2vh">
    <div google-chart chart="reportes2.googlechart" style="height:45vh; width:100%;"></div>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-sm-6 col-xs-6 " style="margin-top: 2vh">
      <div google-chart chart="reportes4.googlechart" style="height:45vh; width:100%;"></div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-6 " style="margin-top: 2vh">
      <div google-chart chart="reportes1.googlechart" style="height:45vh; width:100%;"></div>
    </div>
</div>
