<div class="modal-body" id="modal-body">
  <!-- <div class="modal-dialog" style="width:400px;"> -->
    <!-- <div class="modal-content"> -->
      <div class="modal-header">
        <button type="button" class="close" ng-click="$close()">&times;</button>
        <h4 class="modal-title" >estas seguro?</h4>
      </div>
      <div class="modal-body">
          <button type="button" class="btn btn-success" ng-click="yes()" style="width:47%;" >Si</button>
          <button type="button" class="btn btn-danger" ng-click="$close()" style="width:47%;" >No</button>
      </div>
    <!-- </div> -->
  <!-- </div> -->
</div>
